/*selector universal*/
*{
    margin:0;
    padding: 0;
}
/*selector de  etiqueta*/

body{
    background-color: rgb(191, 82, 234);
    color: rgb(0, 0, 0);
}
/*selector de id*/

#contenedor{

background-color: rgb(210, 134, 245);
margin: 10px;
padding: 20px;

}
#encabezado{
width: 90%;
background-color: rgb(237, 175, 249);
margin: 1em;
border-radius: 5px;
text-align: center;


}

.card{
    /*sombra derecha-izquierda*/

    box-shadow: 0 4px 8px black;
    overflow: hidden;
    max-width: 300px;
    margin:20px;
    text-align: center;
    border: 3px solid;
    border-radius: 10px;

}

.pattaya-regular {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
  }